.voorpagina {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media print {
   

        nav {
            display: none;
        }
        strong{
            display: none;
        }

}