.voorpagina {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.print_only{
    display: none;
}
@media print {

        .no_print{
            display: none;
        }
        .print_only{
            display: contents;
        }

}